<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/common/login.css">
    <script src="/js/common/login.js"></script>
</head>
<body>

<div class="login-container">

    <div class="login-thumb"></div>

    <div class="login-form">
        <div class="login-inner-form">
            <form id="loginForm" method="post" action="/loginProc">
                <h1>Welcome KAS</h1>
                <input id="id" type="text" placeholder="ID" name="id"><br>
                <input id="pw" type="password" placeholder="PW" name="pw"><br>
            </form>
            <button class="form_btn" type="button" onclick="validation()">Log In</button>
            <h3>Or</h3>
            <button class="form_btn" type="button" onclick="location.href='/common/signup'">Sign Up</button>
        </div>
    </div>
</div>
</body>
</html>