<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>signUp</title>
    <link rel="stylesheet" href="/css/common/signup.css">
    <link rel="stylesheet" href="/css/common/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/common/signup.js"></script>
    <script src="/js/common/jquery-1.12.4.min.js"></script>
    <script src="/js/common/jquery-ui.min.js"></script>
</head>
<body>
<div class="signup-container">
    <div class="signup-form">
        <div class="how-to-use">
            <h1 style="color: white;text-align: center;">Let's Start!</h1>
            <h3 style="color: white;text-align: center;">How to use</h3>
            <div style="border: 3px solid white; border-radius: 15px;">
                주어진 조건에 알맞게 <br>
                입력이 되면 입력 창이 <br>
                초록색으로 바뀝니다.<br>
                입력창 이외의 부분을 <br>
                클릭하면 다음 입력창이<br>
                생성됩니다.<br>
                축일의 경우<br>
                입력창을 클릭하면 달력<br>
                이미지가 생성됩니다.<br>
                이미지를 클릭하면<br>
                달력이 나타나 축일을 <br>
                선택할 수 있습니다. <br>
            </div>
        </div>
        <form id="signupForm" method="post" action="/common/signup" enctype="multipart/form-data">
            <div id="idBox" class="formElementBox">
                <p>아이디를 입력하세요. (영문+숫자 조합, 6자 이상)</p>
                <input type="text" id="id" placeholder="id" name="teacherLogInID" autocomplete="off" onkeyup="idValidation()">
                <p id="idFeedback" style="font-size: 10px"></p>
            </div>
            <div id="profileImgBox" class="formElementBox">
                <input type="file" name="teacherProfileImg" id="profileImg" accept=".jpg .png" tabindex="0">
                <img width="300px" height="300px" src="/img/uploads/profile/test.jpg" />
            </div>
        </form>
    </div>
</div>
</body>
</html>