<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/asset/mainAsset.css">
    <!-- 최신 버전의 제이쿼리 CDN -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/navBar.js"></script>
</head>
</html>