<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="content-navBar" th:fragment="navBar">
    <div class="content-nav">
        <nav>
            <ul>
                <li><a href="/common/dashboard">Home</a></li>
                <li class="has-asset-sub-menu"><a href="#">재고관리<span class="arrow-up"></span></a>
                    <ul class="asset-sub-menu">
                        <li><a href="/asset/allList">재고 검색</a></li>
                        <li><a href="/asset/addList">재고 등록</a></li>
                        <li><a href="/asset/shareList">반출 리스트</a></li>
                    </ul>
                </li>
                <li th:if="${#authorization.expression('hasRole(''SUPER'')')}"><a href="/teacher/manage">교사관리</a></li>
            </ul>
        </nav>
        <form class="controller" method="post" action="/logout">
            <p th:text="${username + '님'}" style="margin-right: 20px;"></p>
            <button type="submit">Logout</button>
            <button type="button" onclick="location.href='/teacher/myPage'">MyPage</button>
        </form>
    </div>
    <div class="navBar-img">
        <div class="dashboard-mainText">
            <div class="row">
                <div class="col">
                    <h6 class="bubble-heading">I Love Jesus</h6>
                    <h2 style="display: inline" class="special-heading text-container1">평화가 <span class="rotating-text"></span><span id="cursor"></span> 와 함께!</h2>
                    <div class="quote-separator"></div>
                    <p class="sub-text">경식이 바보</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            const textArray = ["Luke", "Victoria", "Leo", "Rita", "Clare", "Raphaela"];
            let currentTextIndex = 0;
            let currentText = '';
            let isDeleting = false;
            let charIndex = 0;

            const typingText = $('.rotating-text');

            function type() {
                const text = textArray[currentTextIndex];
                currentText = isDeleting
                    ? text.substring(0, charIndex - 1)
                    : text.substring(0, charIndex + 1);

                typingText.text(currentText);

                if (isDeleting) {
                    charIndex--;
                } else {
                    charIndex++;
                }

                if (!isDeleting && currentText === text) {
                    isDeleting = true;
                    setTimeout(function() {
                        type();
                    }, 1500);
                } else if (isDeleting && currentText === '') {
                    isDeleting = false;
                    currentTextIndex = (currentTextIndex + 1) % textArray.length;
                    setTimeout(function() {
                        type();
                    }, 500);
                } else {
                    setTimeout(function() {
                        type();
                    }, isDeleting ? 100 : 200);
                }
            }
            // Initial setup
            type();
        });
    </script>
</div>
</html>