<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="content-navBar" th:fragment="navBar">
    <nav>
        <ul>
            <li><a href="/common/dashboard">Home</a></li>
            <li><a href="/asset/mainAsset">재고관리</a></li>
            <li th:if="${#authorization.expression('hasRole(''SUPER'')')}"><a href="/teacher/manage">교사관리</a></li>
        </ul>
    </nav>
    <form class="controller" method="post" action="/logout">
        <p th:text="${username}">님</p>
        <button type="submit">Logout</button>
        <button type="button">MyPage</button>
    </form>
</div>

</html>