<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sideBar</title>
</head>
<body>
<div class="sidebar" th:fragment="sidebar">
  <div class="profile">
    <!--<img src="img/profile-bg.png" width="250px" height="200px">-->
    <div class="profile-wrapper">
      <div class="overlay-image"></div>
      <div class="profile-name">
        <span>Leo.K</span><br>
        <span>(～￣▽￣)～</span>
      </div>
    </div>
  </div>
  <nav>
    <ul>
      <li><a href="/common/dashboard">Home</a></li>
      <li><a href="/asset/allList">재고 검색</a></li>
      <li><a href="/asset/addList">재고 등록</a></li>
      <li><a href="/board/shareList">반출 리스트</a></li>
      <li th:if="${#authorization.expression('hasRole(''SUPER'')')}"><a href="/teacher/manage">교사관리</a></li>
      <!-- Add more menu items here -->
    </ul>
  </nav>
</div>
</body>
</html>