<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header">
    <meta charset="UTF-8">
    <title>재고 반출 게시판</title>
</head>
<body>
    <div th:replace="layout/navBar :: navBar"></div>
    <div th:replace="layout/sidebar :: sidebar"></div>
    <div class="share-list">
        <button class="content-toggle-btn" onclick="toggleSidebar()">◀</button>
        <div class="px-3 py-4 border-bottom board-search">
            <div class="warp d-flex flex-wrap justify-content-center">
                <form class="mb-2 mb-lg-0 me-lg-auto" method="get" action="/sampleList">
                    <input type="search" class="form-control" name="searchKeyword" id="searchKeyword" value="" placeholder="Search..."> <!--th:value="${pageNav.equals('sampleList') ? info.searchKeyword : ''}"-->
                </form>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-primary" onclick="layerPopOpen('shareForm')">반출대장 작성</button>
            </div>
        </div>

        <h2 class="px-3 py-4 no-margin">반출 리스트</h2>

        <table class="table mb-5 px-3 text-decoration-none" id="share-board">
            <colgroup>
                <col width="10%" />
                <col width="*" />
                <col width="10%" />
                <col width="10%" />
                <col width="20%" />
                <col width="10%" />
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">순번</th>
                    <th scope="col">자산명</th>
                    <th scope="col">반출자</th>
                    <th scope="col">인수자</th>
                    <th scope="col">등록일자</th>
                    <th scope="col">반납여부</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5</td>
                    <td>아이템5</td>
                    <td>김병국</td>
                    <td>손용수</td>
                    <td>2024.07.04</td>
                    <td>N</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>아이템4</td>
                    <td>김병국</td>
                    <td>손용수</td>
                    <td>2024.07.04</td>
                    <td>N</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>아이템3</td>
                    <td>김병국</td>
                    <td>손용수</td>
                    <td>2024.07.04</td>
                    <td>N</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>아이템2</td>
                    <td>김병국</td>
                    <td>손용수</td>
                    <td>2024.07.04</td>
                    <td>N</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>아이템1</td>
                    <td>김병국</td>
                    <td>손용수</td>
                    <td>2024.07.04</td>
                    <td>N</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="layout/footer :: footer"></div>

    <div id="shareForm" class="pop-layer" style="display: none">
        <div class="pop-container">
            <form id="shareAddForm" action="/board/addShare" method="post">
                <div class="pop-content">
                    <p class="pop-tit">
                        반출 대장
                        <button type="button" class="btn_x btn-close" title="닫기" onclick="layerPopHide(this)"></button>
                    </p>
                    <input type="hidden" name="boardAssetAssetId" value="" id="boardAssetAssetId">
                    <input type="text" placeholder="자산명" disabled="disabled" id="boardAssetAssetName">
                    <button type="button" onclick="loadAssetData()">자산찾기</button>
                    <div style="width: 80%; height: 300px" class="share-asset-container">
                        <div class="share-asset-categories">

                        </div>
                        <div class="share-asset-contents" id="share-asset-contents">

                        </div>
                    </div>
                    <input type="text" name="boardShareCount" value="" placeholder="수량" id="boardShareCount">
                    <select id="teacher-list" name="boardTeacherTeacherId">
                        <option th:each="teacher : ${teacherList}"
                                th:value="${teacher.teacherId}"
                                th:text="${teacher.teacherName}"></option>
                    </select>
                    <input type="text" name="boardCarryInName" placeholder="인수자" id="boardCarryInName">
                    <button class="btn" type="button" onclick="addShareBoard()">등록</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>