<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header">
    <meta charset="UTF-8">
    <title>물품 등록 폼</title>
</head>
<body>
  <div th:replace="layout/navBar :: navBar"></div>
  <div th:replace="layout/sidebar :: sidebar"></div>
  <div class="content-main">
    <button class="content-toggle-btn" onclick="toggleSidebar()">◀</button>
    <form id="assetForm" enctype="multipart/form-data">
        <div class="form-up">
            <h2>자산 등록</h2>
            <label for="assetName">물품명</label><br>
            <input id="assetName" type="text" name="assetName" value=""><br>
            <label for="assetCtg">물품 카테고리</label><br>
            <input id="assetCtg" type="text" name="assetCtg" value=""><br>
            <label for="assetCnt">물품 수량</label><br>
            <input id="assetCnt" type="text" name="assetCnt" value=""><br>
            <label for="assetCnt">물품 위치</label><br>
            <input id="assetPos" type="text" name="assetPos" value=""><br>
            <label for="regTeacherName">등록자:</label><br>
            <select id="regTeacherName" name="regTeacherName">
                <option th:each="name : ${teacherNames}" th:value="${name}" th:text="${name}"></option>
            </select><br>
        </div>
        <div class="form-down">
            <label for="assetImgFile"><h2>자산 사진</h2></label><br>
            <h6>jpg/png 확장자로 최대 3장만 등록 가능</h6>
            <input type="file" name="assetImgFile" id="assetImgFile" accept=".jpg, .png" class="form-control" multiple><br>
            <div class="image-list">
                <img id="assetImg1" width="300px" height="300px" src="/img/uploads/profile/default.png">
                <img id="assetImg2" width="300px" height="300px" src="/img/uploads/profile/default.png">
                <img id="assetImg3" width="300px" height="300px" src="/img/uploads/profile/default.png"><br>
            </div>
            <button type="button" onclick="addAsset()">등록</button>
        </div>
    </form>
  </div>
  <div th:replace="layout/footer :: footer"></div>
</body>
</html>