<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout/header :: header">
    <meta charset="UTF-8">
    <title>재고 조회</title>
</head>
<body>
    <div th:replace="layout/navBar :: navBar"></div>
    <div th:replace="layout/sidebar :: sidebar"></div>
    <div class="asset-main">
        <button class="content-toggle-btn" onclick="toggleSidebar()">◀</button>
        <form class="search-form" id="searchForm">
            <div class="form-div">
                <input type="text" id="searchTerm" name="searchTerm" autocomplete="off" required th:value="${searchTerm}">
                <label>Searching Asset</label>
                <span></span>
                <button type="button" onclick="search()">검색</button>
            </div>
        </form>
        <form id="excel-download" th:if="${assetList.size() > 0}">

            <button class="btn info" type="button" onclick="showImage()">이미지로 보기</button>
            <button class="btn warning" type="button" onclick="showTable()">표로 보기</button>
            <button class="btn special" type="button" id="excelDown">Export</button>
        </form>
        <div class="asset-container" id="assetContainerTable" th:if="${assetList.size() > 0}">
            <table class="table mb-5 pcx-3 text-decoration-none" id="share-board">
                <colgroup>
                    <col width="10%" />
                    <col width="*" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="20%" />
                </colgroup>
                <thead>
                <tr>
                    <th scope="col" style="display: none" >자산 ID</th>
                    <th scope="col">자산 번호</th>
                    <th scope="col">자산명</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">전체 수량</th>
                    <th scope="col">잔여 수량</th>
                    <th scope="col">자산 위치</th>
                    <th scope="col">등록자</th>
                    <th scope="col">등록일자</th>
                    <th scope="col">기타</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="asset : ${assetList}"  class="asset-list">
                    <td th:text="${asset.assetId}" style="display: none"></td>
                    <td th:text="${asset.assetNo}"></td>
                    <td th:text="${asset.assetName}"></td>
                    <td th:text="${asset.assetCtg}"></td>
                    <td th:text="${asset.assetTotalCnt}"></td>
                    <td th:text="${asset.assetRemainCnt}"></td>
                    <td th:text="${asset.assetPos}"></td>
                    <td th:text="${asset.regTeacherName}"></td>
                    <td th:text="${asset.assetRegDate}"></td>
                    <td>
                        <button type="button" class="btn edit-btn" >수정</button>
                        <button th:if="${#authorization.expression('hasRole(''SUPER'')')}" type="button" class="btn delete-btn">삭제</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="asset-container" id="assetContainerImage" th:if="${assetList.size() > 0}" style="display: none">
            <div class="asset-item" th:each="asset : ${assetList}">
                <div style="display: none" th:text="${asset.getAssetId()}"></div>
                <div class="asset-category">
                    <span th:text="${'🎀 ' + asset.getAssetCtg()}"></span>
                </div>
                <div class="asset-thumb_img">
                    <span th:if="${asset.getAssetImgs().size() > 0}">
                        <img th:src="'/img/uploads/asset/' + ${asset.getAssetImgs().get(0).getSaveName()}">
                    </span>
                    <span th:unless="${asset.getAssetImgs().size() > 0}">
                        <img src="">
                    </span>
                </div>
                <div class="asset-title">
                    <span th:text="${'📑 '+asset.getAssetName()}"></span>
                </div>
                <div class="asset-meta-data">
                    <span th:text="${'🔗 '+asset.getAssetRemainCnt() + '개'}"></span>
                    <span th:text="${'👉'+asset.getAssetPos()}"></span>
                    <span th:text="${'🙌 '+asset.getRegTeacherName()}"></span><br>
                    <span th:text="${'📆 '+#strings.substring(asset.getAssetUpdDate(), 0, 10)}"></span>
                </div>

            </div>
        </div>
        <div class="asset-container" th:unless="${assetList.size() > 0}">
            <div class="asset-error">
                검색 결과가 없습니다.
            </div>
        </div>
        <th:block th:if="${assetList.size() > 0}" th:insert="~{asset/pagination}"></th:block>
    </div>
    <div th:replace="layout/footer :: footer"></div>

    <div id="assetDtlForm" class="pop-asset-layer" style="display: none">
        <div class="pop-dtl-container">
            <h2>상세 정보</h2>
            <div id="assetItem" class="asset-item-dtl">
                <div style="display: none" id="assetId"></div>
                <div class="asset-thumb_img" id="assetThumbImg">

                </div>
            </div>
            <div class="asset-item-sharing">
                <div class="asset-category">
                    <label for="assetCtg">자산 카테고리</label>
                    🎀 <span id="assetCtg"></span>
                </div>
                <div class="asset-title" id="assetTitle">
                    <label for="assetCtg">자산명</label>
                    📑 <span></span>
                </div>
                <div class="asset-meta-datas">
                    <label for="assetRemainCnt">자산명</label>
                    🔗 <span id="assetRemainCnt"></span>개
                    <label for="assetPos">자산위치</label>
                    👉 <span id="assetPos"></span>
                    <label for="regTeacherName">등록 선생님</label>
                    🙌 <span id="regTeacherName"></span>
                    <label for="assetUpdDate">최종 수정일자</label>
                    📆 <span id="assetUpdDate"></span>
                </div>
                대여 내역
                <span id="share-list-now"></span>
            </div>
        </div>
        <button class="btn" type="button" onclick="layerPopHide(this)">닫기</button>
        <button class="btn" type="button" onclick="modifyAssetForm()">수정</button>
        <button th:if="${#authorization.expression('hasRole(''SUPER'')')}" onclick="deleteAsset()" class="btn" type="button">삭제</button>
    </div>
</body>
</html>