<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header">
    <meta charset="UTF-8">
    <title>재고 조회</title>
</head>
<body>
    <div th:replace="layout/navBar :: navBar"></div>
    <div class="content-main">
        <form class="search-form">
            <div class="form-div">
                <input type="text" name="searchTerm" autocomplete="off" required>
                <label>Searching Asset</label>
                <span></span>
                <button type="button">검색</button>
            </div>
        </form>
        <div class="asset-container">
            <div class="asset-item" th:each="asset : ${assetList}">
                <div class="asset-category">
                    <span>재고 카테고리</span>
                </div>
                <div class="asset-thumb_img">
                    <span>재고 이미지</span>
                    <span th:if="${asset.getAssetImgs().size() > 0}">
                        <img th:src="'../../img/' + ${asset.getAssetImgs().get(0).getSaveName()}" width="200px" height="200px">
                    </span>
                    <span th:unless="${asset.getAssetImgs().size() > 0}">
                        <img width="200px" height="200px">
                    </span>
                </div>
                <div class="asset-title">
                    <span th:text="${asset.getAssetName()}"></span>
                </div>
                <div class="asset-meta-data">
                    <span th:text="${asset.getAssetCnt()}"></span>
                    <span th:text="${asset.getAssetPos()}"></span>
                    <span th:text="${asset.getAssetUpdDate()}"></span>
                </div>

            </div>
        </div>
    </div>
    <div th:replace="layout/footer :: footer"></div>
</body>
</html>