<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header">
    <meta charset="UTF-8">
    <title>재고 반출 게시판</title>
</head>
<body>
    <div th:replace="layout/navBar :: navBar"></div>
    <div th:replace="layout/sidebar :: sidebar"></div>
    <div class="share-list">
        <button class="content-toggle-btn" onclick="toggleSidebar()">◀</button>
        <div class="px-3 py-4 border-bottom">
            <div class="warp d-flex flex-wrap justify-content-center">
                <form class="mb-2 mb-lg-0 me-lg-auto" method="get" action="/sampleList">
                    <input type="search" class="form-control" name="searchKeyword" id="searchKeyword" value="" placeholder="Search..."> <!--th:value="${pageNav.equals('sampleList') ? info.searchKeyword : ''}"-->
                </form>
            </div>
        </div>

        <h2 class="px-3 py-4 no-margin">반출 리스트</h2>

        <table class="table mb-5 px-3" id="share-board">
            <colgroup>
                <col width="15%" />
                <col width="25%" />
                <col width="*" />
                <col width="20%" />
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">TITLE</th>
                    <th scope="col">CONTENTS</th>
                    <th scope="col">CREATED</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5</td>
                    <td>제목5</td>
                    <td>내용5</td>
                    <td>날짜5</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>제목4</td>
                    <td>내용4</td>
                    <td>날짜4</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>제목3</td>
                    <td>내용3</td>
                    <td>날짜3</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>제목2</td>
                    <td>내용2</td>
                    <td>날짜2</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>제목1</td>
                    <td>내용1</td>
                    <td>날짜1</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="layout/footer :: footer"></div>
</body>
</html>