<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header">
    <meta charset="UTF-8">
    <title>MyPage</title>
</head>
<body>
<div th:replace="layout/navBar :: navBar"></div>
<div class="content">
    <button class="content-toggle-btn" onclick="toggleSidebar()">◀</button>
    <h1>Main Content</h1>
    <form id="modifyForm" method="post" action="/teacher/modifyTeacherInfo" enctype="multipart/form-data" style="display: flex; flex-direction: column; flex-wrap: nowrap; width: 80%; align-items: center;">
        <div id="idBox" class="formElementBox">
            <p>아이디</p>
            <input type="text" id="id" placeholder="id" name="teacherLogInID" autocomplete="off" readonly th:value="${teacherInfo.teacherLogInID}">
        </div>
        <div id="nameBox" class="formElementBox">
            <p>이름</p>
            <input type="text" id="name" placeholder="id" name="teacherName" autocomplete="off" th:value="${teacherInfo.teacherName}">
        </div>
        <div id="nicknameBox" class="formElementBox">
            <p>닉네임</p>
            <input type="text" id="nickname" placeholder="id" name="teacherNickname" autocomplete="off" th:value="${teacherInfo.teacherNickname}">
        </div>
        <div id="numberBox" class="formElementBox">
            <p>전화번호</p>
            <input type="text" id="number" placeholder="id" name="teacherPhoneNumber" autocomplete="off" th:value="${teacherInfo.teacherPhoneNumber}">
        </div>
        <div id="emailBox" class="formElementBox">
            <p>이메일</p>
            <input type="text" id="email" placeholder="id" name="teacherEmailAddress" autocomplete="off" th:value="${teacherInfo.teacherEmailAddress}">
        </div>
        <div id="chNameBox" class="formElementBox">
            <p>세례명</p>
            <input type="text" id="chName" placeholder="id" name="teacherChristianName" autocomplete="off" th:value="${teacherInfo.teacherChristianName}">
        </div>
        <div id="saintsBox" class="formElementBox">
            <p>축일</p>
            <input type="text" id="saints" placeholder="id" name="teacherSaintsDay" autocomplete="off"  th:value="${teacherInfo.teacherSaintsDay}">
        </div>
        <div id="profileImgBox" class="formElementBox">
            <p>프로필 이미지</p>
            <input type="file" name="profileImgFile" id="profileImgFile" accept=".jpg, .png" class="form-control"><br>
        </div>
        <img id="profileImg" width="300px" height="300px" th:src="'/img/uploads/profile/'+${teacherInfo.teacherProfileImg.getSaveName()}">
        <button type="button" onclick="modifyInfo()">수정</button>
        <button type="button" onclick="location.href='/teacher/myPage'">취소</button>
    </form>
</div>
<div class="sidebar" th:replace="layout/sidebar :: sidebar"></div>
<div th:replace="layout/footer :: footer"></div>
<script>
    $(function (){
        let initial_path = $("#profileImg").attr('src');
        let upload_path = '';

        $("#profileImgFile").change(function(){
           upload_path = this.files[0];
           if(!upload_path){
               $("#profileImg").attr('src', initial_path);
               return;
           }
           if(upload_path.size > 1024*1024) {
               alert(Math.round(upload_path.size / 1024 / 1024) + 'MB(1MB 까지만 업로드 가능합니다!');
               $("#profileImg").attr('src', initial_path);
               $(this.val(''));
               return;
           }
           //이미지 미리보기 처리
           let reader = new FileReader();
           reader.readAsDataURL(upload_path);

           reader.onload = function(){
               $('#profileImg').attr('src', reader.result);
           };
        });
    });
    function modifyInfo(){
        const formData = new FormData(document.getElementById("modifyForm"));
        const fileInput = document.getElementById("profileImgFile");
        if(fileInput.files.length > 0) {
            formData.append("profileImgFile", fileInput.files[0]);
        }

        const data = {
            info: {
                teacherLogInID : $("#id").val(),
                teacherName : $("#name").val(),
                teacherNickname : $("#nickname").val(),
                teacherPhoneNumber : $("#number").val(),
                teacherEmailAddress : $("#email").val(),
                teacherChristianName : $("#chName").val(),
                teacherSaintsDay : $("#saints").val(),
            }
        };

        formData.append("teacherDto", new Blob([JSON.stringify(data.info)], {type : "application/json"}));
        console.log(formData);

        $.ajax({
            type : 'POST',
            url : '/teacher/modifyTeacherInfo',
            data : formData,
            processData: false,
            contentType: false,
            success: function (data) {

                console.log('파일 업로드 성공');


            }
        });

        alert("수정되었습니다.");
        location.href = "/teacher/myPage";
    }
</script>
</body>
</html>