/** header navBar **/
.content-navBar{
    width: 100vw;
    height: 10vh;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.controller {
    display: flex;
}

.controller button {
    margin-right: 20px;
    background-color: #4CAF50; /* 버튼 배경색 설정 */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
 }

/** main container **/
.content-main{
    width: 100vw;
    height: 80vh;
    background-color: #eee;
}

/** footer **/
.content-footer{
    width: 100vw;
    height: 10vh;
    background-color: #aaa;
}