body{margin: 0;padding: 0;height:100vh;background: black;}

.signup-container {width: inherit;height:100vh;}
.signup-form {color: white;height: 100%;font-weight: 700;display: flex;justify-content: center;align-items: center;flex-direction: row;}

form {max-height: 100%;padding: 10px 10px 10px 10px;display: flex;align-items: center;flex-direction: column;flex-wrap: wrap;overflow: hidden;}
form input {background: #000;padding: 16px;margin: 8px 0;width: 65%;border: 0;outline: none;border-radius: 20px;box-shadow: inset 1px 1px 1px #babebc, inset -1px -1px 7px #fff;color :white;}

button {width: 34%;border-radius: 20px;border: none;outline: none;font-size: 12px;font-weight: bold;padding: 10px 25px;margin: 14px;letter-spacing: 1px;text-transform: uppercase;cursor: pointer;transition: transform 80ms ease-in;}
.form_btn {box-shadow: -5px -2px 6px #fff, 5px 2px 6px #babebc;text-align: center;}
.form_btn:active {box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;}
.formElementBox {width: 28vw;padding-left: 7%;}

.formElementBox input:focus{box-shadow: inset 1px 1px 1px #6ac3e1, inset -1px -1px 7px #2641ff;}
.ui-datapicker-trigger {vertical-align: middle;box-sizing: border-box;margin: 0px;padding: 0px;border-width: initial;border-style: none;border-color: initial;border-image: initial;}
